:root {
    --orange: #d95550;
    --light-orange: #dd6662;
    --very-light-orange: #f8938b;
    --gray: #55557b;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange);
}

h1 {
    margin-top: 200px;
    color: var(--white);
    text-align: center;
}

form {
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

form input[type="text"] {
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    font-size: 1.5em;
}

form input[type="text"]::placeholder {
    color: var(--very-light-orange);
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="submit"] {
    font-size: 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--orange);
}

form input[type="submit"]:hover {
    background-color: var(--very-light-orange);
    cursor: pointer;
    color: var(--white);
}

.list-container {
    width: 400px;
    margin: 0 auto;
}

.task-container {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--gray);
}

.closeBtn {
    width: 15px;
    height: 15px;
}

.closeBtn:hover {
    cursor: pointer;
}

#stats {
    margin-top: 25px;
    font-size: 1.3em;
    color: var(--very-light-orange);
    text-align: center;
}

#reiniciar {
    width: 160px;
    height: 40px;
    position: absolute;
    left: 540px;
    color: var(--white);
    background-color: var(--light-orange);
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 1.0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reiniciar:hover {
    cursor: pointer;
    background-color: var(--very-light-orange);
}